{% extends 'base.html.twig' %}

{% block title 'Inter-Sciences : Blog'%}

{% block body %}

<div class="example-wrapper">
    <h1>Blog</h1>
    <h2> {{ pluralize(post|length, 'Article')}}</h2>

    {% for post in post %}
        <article>
            <h1><a href="{{ path('app_post_show', {id: post.id}) }}"> {{ post.title }} </a></h1>
            <p>Publié il y'a {{ post.createdAt|ago }}</p>
            <p> {{ post.content|u.truncate(255, '...', false) }} </p>
        </article>
    {% endfor %}
</div>
{% endblock %}
